/***** Fonts *****/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/***** Colors *****/
/***** Styling *****/
body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #373b42; }

h1 {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 31px;
  font-weight: bold;
  color: #373b42; }

h2 {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #373b42; }

h3 {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #373b42; }

.breadcrumb_style {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 12px; }

.body_copy {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 14px; }

.related_product_title {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: 100; }

.category_heading {
  margin: 10px 0 20px 0; }

/*# sourceMappingURL=styles.css.map */
