/***** Fonts *****/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$open_sans: Open Sans, Helvetica, Arial, sans-serif;

/***** Colors *****/
$white: #ffffff;
$light_blue: #cddaf0;
$jysk_blue: #003187;
$dark: #373b42;
$copy: #46536c;
$green: #85b73c;
$orange: #f47b20;

/***** Styling *****/
body {
  font-family: $open_sans;
  font-size: 14px;
  color: $dark;
}
h1 {
  font-family: $open_sans;
  font-size: 31px;
  font-weight: bold;
  color: $dark;
}
h2 {
  font-family: $open_sans;
  font-size: 14px;
  font-weight: bold;
  color: $dark;
}
h3 {
  font-family: $open_sans;
  font-size: 19px;
  font-weight: bold;
  color: $dark;
}

.breadcrumb_style {
  font-family: $open_sans;
  font-size: 12px;
}
.body_copy {
  font-family: $open_sans;
  font-size: 14px;
}
.related_product_title {
  font-family: $open_sans;
  font-size: 26px;
  font-weight: 100;
}
.category_heading {
  margin: 10px 0 20px 0;
}